@import './colors';
@import './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-family: 'Kumbh Sans', sans-serif;
	background: linear-gradient($soft-violet, $soft-blue);
	color: $very-dark-desaturated-blue;
}

.hidden {
	display: none;
}

.active {
	font-weight: 700;
}

.rotate {
	transform: rotate(180deg);
}

.container {
	padding: 5em 2em;
	width: clamp(100px, 80%, 850px);
	position: relative;
	background-color: $white;
	border-radius: 30px;
	box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.4);

	&__img--1 {
		@include img-mobile;
		top: -5%;
		z-index: 2;
		content: url(../images/illustration-woman-online-mobile.svg);
	}

	&__img--2 {
		@include img-mobile;
		top: 10%;
		z-index: 1;
		content: url(../images/bg-pattern-mobile.svg);
	}

	&__img--3 {
		display: none;
		z-index: 3;
	}
}

.text__container {
	text-align: center;
	&-heading {
		margin-block: 2em 0.8em;
		font-size: 3rem;
		text-transform: uppercase;
	}
}

.faq {
	position: relative;
	border-bottom: solid 1px $light-grayish-blue;
	text-align: left;
	cursor: pointer;

	&__img {
		position: absolute;
		top: 5px;
		right: 0;
		transition: transform 0.5s;
	}

	&__question {
		margin: 1em 0;
		padding-right: 2em;
		display: flex;
		font-size: 1.3rem;
		color: $very-dark-grayish-blue;
		transition: color 0.3s;

		&:hover {
			color: $soft-red;
		}
	}

	&__answer {
		margin: 1em 0;
		width: 95%;
		color: $dark-grayish-blue;
		text-align: justify;
		hyphens: auto;
	}
}

.attribution {
	margin-top: 3em;
	text-align: center;

	&__link {
		text-decoration: none;
		color: $white;
		font-weight: 500;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media (min-width: 998px) {
	.container {
		padding: 6em 7em;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		overflow: hidden;

		&__img--1 {
			@include img-desktop;
			top: 50%;
			left: 17%;
			width: 425px;
			content: url(../images/illustration-woman-online-desktop.svg);
		}
		&__img--2 {
			@include img-desktop;
			top: 38%;
			left: -4%;
			width: 92%;
			content: url(../images/bg-pattern-desktop.svg);
		}
		&__img--3 {
			@include img-desktop;
			top: 58%;
			left: 0.15%;
			width: 18%;
			display: block;
			content: url(../images/illustration-box-desktop.svg);
		}
	}

	.text__container {
		width: 50%;
		text-align: left;

		&__heading {
			margin-block: 0em 1em;
			font-size: 3.2rem;
		}
	}

	.faq {
		&__question {
			margin: 1em 0;
			font-size: 1.4rem;
		}

		&__answer {
			margin: 1em 0;
			font-size: 1.3rem;
		}
	}
}
